/* https://coolors.co/1f2041-4b3f72-ffc857-119da4-19647e */

* {
    padding: 0;
    margin: 0;
}

.App {
    width: 100%;
    flex-direction: column;
}

.cfb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-a {
    margin: 0.5em;
    padding: 2em;

    border-radius: 1em;
    border: 1px solid #1F2041;
    box-shadow: 1px 2px 2px #1F2041;
    background-color: #F6A2BA;
}

.cont-b {
    margin: 0.5em;
    padding: 1em;
}